<div class="container">
  <div class="heading">
    <h1>Bookmarks</h1>
  </div>
  <div class="content">
      <% @bookmarks.each_with_index do |bookmark, i| %>
        <table>
          <tr>
            <td><%= bookmark["title"] %></td>
            <td><a href="<%= bookmark["url"] %>" target="_blank"><%= bookmark["url"] %></a></td>
            <td><%= link_to("Edit", edit_bookmark_path(i)) %></td>
            <td><%= link_to("Delete", bookmark_path(i), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
          </tr>
        </table>  
      <% end %>
  </div>
  <div class="add">
    <%= link_to("+", new_bookmark_path) %>
  </div>
</div>